*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #B3E2F6;
}
/*Navigation Bar*/
.navbar{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.navlink ul{
    margin-top: 45px;
    margin-left:70px;
    display: flex;
    gap: 80px;
    padding: 15px 32px;
}
.navlink ul li{
    display: inline;
    list-style: none;
}
.navlink ul li a{
    font-size: 22px;
    text-decoration: none;
    color: black;
}
.navlink ul li a:hover{
    color: #4638FF;
}
.Login {
    display: flex;
    nav-right: auto;
    margin-left: 320px;
    gap: 38px;
    padding: 20px;
}
.Login Button{
    width: 75px;
    height: 40px;
    font-size: 16px;
    border: 2px solid #4638FF;
    border-radius: 10px;
    background-color: #fff;
}
.Login button a{
    color: #4638FF;
    text-align: center;
    text-decoration: none;
}
.Login Button:hover{
    background-color: #4638FF;
}
.Login Button a:hover{
    color: #ffff;
}
/*Hero Section*/
.wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
}
.content{
    margin: 30px;
    width: 40%;
    display: flexbox;
}
.content
.img{
    width: 60%;
    margin: 30px;
    float: right;
}